body{
    margin: 0;
    background-color: rgb(32, 32, 32);
}
.npt{
    display: block;
    margin: 5px auto;
    width: 100px;
    height: 20px;
    
}

.btn{
    display: block;
    margin: 5px auto;
}
#table{
    margin: auto;
    justify-content: center;
    margin-top: 5px;
    width: 50vh;
    height: 50vh;
    background-color: rgb(29, 8, 8);
}